In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./Standardized_full_data/REAL_train_and_val.csv')

In [4]:
# Remove .mp3 and .wav extensions (case-insensitive)
df['file_name'] = df['file_name'].str.replace(r'\.(mp3|wav)$', '', case=False, regex=True)

# Optional: save cleaned file
df.to_csv('./Standardized_full_data/REAL_train_and_val_cleaned.csv', index=False)

print("✅ Cleaned file_name column. Example values:")
print(df['file_name'].head())

✅ Cleaned file_name column. Example values:
0    44784e541ed8d06b757a9dfb02a21ab2
1    b1e1dcbc6c82eba5ff40d583220ed8c5
2    f87e9ee30d7a221b60bd038686c6ab42
3    dfc0f92fe4eb00a4fc817dc2f8ef7170
4    5699242804b7856dd2be333128378080
Name: file_name, dtype: object

In [5]:
df

,file_name,speaker,age,gender,accent,native_language,country,region,source,spoof_or_real,train_or_val
0,44784e541ed8d06b757a9dfb02a21ab2,NaN,46 - 65,female,NaN,urdu,"Asian, South Asian or Asian American","south asia (india, pakistan, bangladesh, sri l...",asr_fairness,real,train
1,b1e1dcbc6c82eba5ff40d583220ed8c5,NaN,31 - 45,female,NaN,hindi,"Asian, South Asian or Asian American","south asia (india, pakistan, bangladesh, sri l...",asr_fairness,real,train
2,f87e9ee30d7a221b60bd038686c6ab42,NaN,31 - 45,female,NaN,hindi,"Asian, South Asian or Asian American","south asia (india, pakistan, bangladesh, sri l...",asr_fairness,real,train
3,dfc0f92fe4eb00a4fc817dc2f8ef7170,NaN,18 - 22,female,NaN,marathi,"Asian, South Asian or Asian American","south asia (india, pakistan, bangladesh, sri l...",asr_fairness,real,train
4,5699242804b7856dd2be333128378080,NaN,46 - 65,female,NaN,urdu,"Asian, South Asian or Asian American","south asia (india, pakistan, bangladesh, sri l...",asr_fairness,real,train
...,...,...,...,...,...,...,...,...,...,...,...
3228,11214,Nelson Mandela,NaN,male,south africa,NaN,south africa,"south africa & southern africa (south africa, ...",in_the_wild,real,val
3229,25615,Nelson Mandela,NaN,male,south africa,NaN,south africa,"south africa & southern africa (south africa, ...",in_the_wild,real,val
3230,14423,Nelson Mandela,NaN,male,south africa,NaN,south africa,"south africa & southern africa (south africa, ...",in_the_wild,real,val
3231,7454,Nelson Mandela,NaN,male,south africa,NaN,south africa,"south africa & southern africa (south africa, ...",in_the_wild,real,val
3232,26278,Nelson Mandela,NaN,male,south africa,NaN,south africa,"south africa & southern africa (south africa, ...",in_the_wild,real,val

In [6]:
output_path = './Standardized_full_data/REAL_train_and_val_cleaned.csv'
df.to_csv(output_path, index=False)